/*gallery animation section*/

p {
    font-weight:300;
    line-height:30px;
    padding-bottom:15px;
}
.photo {
    position: relative;
    line-height:0;
    margin-bottom: 2cm;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color gray;
    box-shadow: 2px 2px 10px rgba(o,o,o,o.7);
}
.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: auto;
}
.photo-container img {
    max-width:100%;
    width: 300px;
    height:auto;
}
.photo-overlay {
    color: #fff;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding-left: 20px;
    padding right:20px;
    justify-content: center;
    /*for conterint text in photo*/
    alignment:center;
}
.white-head {
    columns: #c9bdaa;
    margin-top:5%;
    line-height:30px;
    padding: bottom 20px;
}  

/*photo overlay transitions*/
.photo-overlay {
    opacity: 0;
    transition: opacity .1s;
    border-radius:10px;
    cursor:pointer;
}
.photo-overlay p {
    widows: 100%;
    height:100%;
    color:#fff;
}
.photo-overlay:hover {
    opacity: 1;
}
.photo img {
    transition:transform .5s;
    transform-origin: 50% 50%;
}
.photo:hover img {
    transform: scale(1.1);
}